html{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .game-display{
      position: relative;
      width: 620px;
    height: 526px;
  }
  .hud{
    z-index: 1000;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    top: 25px;
    box-sizing: border-box;
    font-size: 31px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: 'PT Mono', monospace;
    font-weight: 900;
  }
  .start-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }
  .start-button{
    width: 100px;
    height: 55px;
  }
  .start-button:hover{
    cursor:pointer; 

  }
  .hud-speed_val{
    margin-left: 40px;
    margin-right: 28px;
    width: 0;
    display: inline-block;
  }
  .hud-time_val{
    display: inline-block;
  }
  .hud-points_val{
    margin-left: 40px;
    margin-right: 28px;
    width: 0;
    display: inline-block;
  }
  .hud-best-time{
    font-size: 24px;
  }
  .hud-speed{
      font-size: 24px;
  }
  canvas{
    width: 100%;
    height: 100%;
  }
  #flat-canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  