// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
canvas{
  width: calc((100vh*2 + 100vw)/3);
  height: 100vh;
}
